.main-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sub-card{
    border: 2px solid lightgrey;
    border-radius: 5px;
    width: 45vh;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
}

.card-header{
    border-bottom: 2px solid lightgrey;
    padding: 0px 10px;
    background-color: white;
}

.card-body{
    padding: 10px;
    background-color: white;
}

.card-result{
    padding: 10px;
    background-color: #E8E8E8;
}

input{
    width: 96%;
    margin-bottom: 20px;
    border: 1px solid lightgrey;
    font-size: 20px;
    border-radius: 3px;
    padding: 5px 3px;
}

button{
    background-color: #0d6efd;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    color: white;
}

body{
    background-position: center;
    background-size: cover;
    background-image: url("/images/background.jpg");
}

span{
    font-weight: bold;
}

.value-font{
    font-weight: lighter;
}